* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    width: 100%;
}

html, #root {
    height: 100%;
}

html {
    font-size: 18px;
}

h1 {
    padding: .77rem 0;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.88rem;
    color: hsl(160, 90%, 15%);
}
    
h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.55rem;
}

.above-all {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    align-content: space-around;
    justify-content: center;
}
  
.App {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #fff;
}
  
.Results {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
  
@media only screen and (max-width: 1020px) {
    .Results {
      align-items: center;
      flex-direction: column;
    }
}