.Author {
    display: flex;
    align-items: center;
    border-bottom: 2px dashed darkgray;
    margin: .6rem 0;
}
  
.Author-Information {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 2px dashed black;
    padding-bottom: .2rem;
    margin-bottom: .4rem;
}
  
.Author-Information h3 {
    margin: .22rem 10px;
    color: hsl(120, 9%, 10%);
    font-size: 1.2rem;
    margin-top: .6rem;
    text-decoration: underline;
}

.Author-Information ul li{
    font-size: 1rem;
    color: black;
    padding: .2rem 0;
}
  
.Author-Information p {
    font-size: .83rem;
    font-weight: 300;
    color: hsl(120, 95%, 16%);
    margin: 0.22rem 10px .35rem;
    line-height: 1.5rem;
}

.decorated {
    font-weight: bolder;
    font-style: italic;
    margin-right: .25rem;
    text-decoration: underline;
}

.hidden {
    display: none;
}