.Author {
    display: flex;
    align-items: center;
    border-bottom: 2px dashed darkgray;
    margin: .6rem 0;
}
  
.Author-Information {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 2px dashed black;
    padding-bottom: 1.2rem;
    margin-bottom: 1.4rem;
}
  
.Author-Information h3 {
    margin: .22rem 10px;
    color: hsl(120, 9%, 10%);
    font-size: 1.2rem;
    margin-top: .6rem;
    text-decoration: underline;
}

.Author-Information ul li{
    font-size: 0.8rem;
    color: black;
    padding: .2rem;
    font-weight: 300;
    list-style-type: none;
    display: inline;
    margin-bottom: 1.2rem;
}

.Author-Information ul {
    display: inline-block;
}
  
.Author-Information p {
    font-size: 1rem;
    font-weight: 300;
    color: hsl(120, 95%, 16%);
    margin: 0.22rem 10px .35rem;
    line-height: 1.5rem;
    margin-top: 1rem;
    margin-left: 1rem;
}

.decorated {
    font-weight: bolder;
    font-style: italic;
    margin-right: .25rem;
    text-decoration: underline;
}

.hidden {
    display: none;
}

.collapse-button {
    position: relative;
    bottom: .16rem;
    right: 0.15rem;
    color: darkblue;
    text-decoration: underline;
    transition: all 0.1s linear;
    margin: 2rem 3rem 4rem;
    cursor: pointer;
}

.collapse-button:hover {
    color: blue;
    text-shadow: 0 0 2px lightblue;
    text-decoration: none;
}

.collapse-button:active {
    color: hsl(220, 80%, 80%);
    -webkit-text-stroke: 1px darkblue;
    text-decoration: none;
}